.board {
  display: grid;
  grid-template-rows: repeat(11, auto);
  grid-template-columns: repeat(11, auto);
  border: 1px dashed black;
  padding: 1rem;
}

.square {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  padding: 0.1rem;
  margin: 0.5rem;
}

.used-by-ship {
  background-color: red;
}
