.index {
  background-image: url('../img/ship.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  height: 100%;
  display: grid;
  grid-template-rows: 2fr 0.5fr 0.5fr;
  grid-template-columns: 100%;
  text-align: center;

  &__title {
    font-size: 2rem;
  }
}
